header {
    box-shadow: 3px black;
    border: 2px tomato solid;
    justify-content: space-between;
    display: flex;

}

.sections__container>* {
    border: 2px purple solid;
    display: inline;
    position: relative;
    top: 50%;
    margin: auto 1em;
    font-size: larger;

}

button {
    border: solid orangered 2px;
    border-radius: 0px 20px 30px 40px/30px;
    padding: 1em;
}

header button {
    background-color: white;
    border: 2px orangered solid;
}

section>img {
    display: inline;
    border-radius: 20%;
    max-width: 30%;
    height: 40%;
    margin: 1em;
    image-orientation: from-image;

}