@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Poppins:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Nunito';

}

header {
    box-shadow: 3px black;
    border: 2px tomato solid;
    justify-content: space-between;
    display: flex;
    font-size: large;
    font-weight: 800;

}

header div {
    margin-right: 6.5em;
    height: 2em;
}

header img {
    width: 5%;
    margin-left: 6em;
}

.sections__container>* {
    border: 2px purple solid;
    display: inline;
    position: relative;
    top: 50%;
    margin: auto 1em;
    font-size: larger;

}

section div span h1 {
    font-weight: 800;
    font-size: 3em;
    margin-left: 3.5em;
}

button {
    border: solid orangered 2px;
    border-radius: 0px 20px 30px 40px/30px;
    padding: 1em;
}

button:hover {
    cursor: pointer;
}

header button {
    background-color: white;
    border: 2px orangered solid;
}

.text__container {
    border: blue solid 2px;
    text-align: left
}

section>div>img {
    display: inline;
    border-radius: 10%;
    width: 500px;
    height: 600px;
    margin: 1em;
    image-orientation: from-image;
    transition: 0.3s;
    object-fit: cover;

}

section>div {
    justify-items: space-between;
    border: 2px green solid;
    display: flexbox;
    text-align: center;
}

section>div>img:hover {
    width: 33%;
    cursor: pointer;
}

section>div>span>button {
    display: inline;
    background-color: orangered;
    color: white;
    font-size: 1.3em;
    font-weight: 600;
    height: 45%;
    margin-top: 30px;

}

section>div>* {
    border: 2px yellow solid;
    display: inline;
}

section>div>p {
    display: block;
    font-size: larger;
    color: orangered;
    font-weight: 800;
    margin-left: 8.5em;
}

section>div>span {
    display: flex;
    justify-content: space-between;
    max-width: 92%;
}